services:
  deepseek-c:
    build: .
    container_name: deepseek-c
    network_mode: "host"
    environment:
      - NODE_ENV=production
    env_file:
      - .env.production
    restart: unless-stopped
